body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.field {
  &__input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #5e98b1;
    font-size: 18px;
    padding-left: 10px;
  }
}

.button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf;
  &:hover {
    cursor: pointer;
  }
}

.DisplaySection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  background-color: dimgrey;
  border-radius: 3rem;
  margin-top: 4rem;
}

.menssage {
  border: 0.1rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  animation: slide-bottom .5s;

  &--error {
    background-color: red;
    color: white;
  }
}

@keyframes slide-bottom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
